@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 212, 255, 0.5);
  }
  .box-glow {
    box-shadow: 0 0 20px rgba(0, 212, 255, 0.15);
  }
  .glass-panel {
    @apply bg-ctera-purpleDeep bg-opacity-40 backdrop-blur-md border border-white/10 shadow-xl;
  }
}

